body {
    color: #fff;
    overflow-x: hidden;
    height: 100%;
    /* background-image: linear-gradient(#81D4FA, #2196F3); */
    background-image: url('https://cdn.pixabay.com/photo/2024/04/12/18/18/ai-generated-8692405_1280.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}



h1.text-center.pt-5.pb-3.text-white{
    font-family: fantasy;
}

img {
  width: 35%;
}
.card0 {
    width: 94%;
}

/* .card1 {
    background-image: linear-gradient(#2196F3, #81D4FA);
    padding: 30px 20px 30px 50px;
} */

.image {
    width: 300px;
    height: 300px;
}

.large-font {
    font-size: 70px;
    font-family: Arial;
}

.fa-sun-o {
    font-size: 22px;
}

/* .card2 {
    background-color: #607D8B;
    padding: 0px 0px 40px 40px;
} */

input {
    background-color: white;
    padding: 14px 0px 12px 0px !important;
    width: 80%;
    box-sizing: border-box;
    border: none !important;
    /* border-bottom: 2px solid white !important; */
    font-size: 16px !important;
    color: #1f1b1b !important;
    border-radius: 10px;
    box-shadow: 0px 0px 30px green;
}

input:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    /* border-bottom: 2px solid #ffd62e !important; */
    outline-width: 0;
    font-weight: 400;
    box-shadow: 0px 0px 20px #ffd62e !important;
}

::placeholder {
    color: #B0BEC5 !important;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #B0BEC5 !important;
}

::-ms-input-placeholder {
    color: #B0BEC5 !important;
}

.fa-search {
    color: #607D8B;
    background-color: #E1F5FE;
    font-size: 20px;
    padding: 20px;
    width: 20%;
    cursor: pointer;
}

.light-text {
    color: #B0BEC5;
}

.suggestion:hover {
    color: #fff;
    cursor: pointer;
}

.line {
    height: 1px;
    background-color: #B0BEC5;
}

@media screen and (max-width: 500px) {
    .card1 {
        padding-left: 26px;
    }
    h1.text-center.pt-5.pb-3.text-white{
        font-family: fantasy;
        font-size: 40px;
    }
    html {
        padding-top: 69px;
    }
}